@{
  Layout = "_Layout";
}

<div class="container">
  <h1>World Data</h1>
  <form action="/table" method="post">
    <div class="form-group">
      <select name="all-filter" class="form-control">
        <option value="city" selected>City</option>
        <option value="country">Country</option>
      </select>
    </div>
    <div class="form-group">
      <select name="city-filter" class="form-control">
        <option value="city-name" id="city-name">City Name</option>
        <option value="city-population" id="city-population">City Population</option>
        <option value="country-code" id="country-code">Cities by Country Code</option>
      </select>
    </div>
    <div class="form-group" id="cityName">
      <label for="city-name-input">Enter City Name</label>
      <input id="city-name-input" name="city-name-input" class="form-control" type="text" />
    </div>
    <div class="form-group" id="cityRange">
      <h4>Select a Population Range</h4>
      <label for="city-population-min">Minimum at 0  or Greater</label>
      <input id="city-population-min" name="city-population-min"  type="range" class="form-control-range" min="0" max="10500000" />
      <label for="city-population-max">Maximum at 11 Million or less</label>
      <input id="city-population-max" name="city-population-max" class="form-control-range" type="range" min="0" max="11000000" />
      <label for="sort"> Sort by: </label>
      <select name="sort" class="form-control">
        <option value="true">Ascending Order</option>
        <option value="false">Descending Order</option>
      </select>
    </div>
    <div class="form-group" id="cityCode">
      <label for="city-code-input">Enter a 3 Letter Country Code.</label>
      <input id="city-code-input" name="city-code-input" class="form-control" type="text" maxlength="3"/>
    </div>
    <button type="submit" class="btn btn-primary">Filter</button>
  </form>
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">City Id</th>
        <th scope="col">City Name</th>
        <th scope="col">Country Code</th>
        <th scope="col">Population</th>
      </tr>
    </thead>
    <tbody>
      @foreach(var city in Model)
      {
        <tr>
          <th scope="row">@city.GetCityId()</th>
          <th scope="row">@city.GetCityName()</th>
          <th scope="row">@city.GetCountryCode()</th>
          <th scope="row">@city.GetCityPopulation()</th>
        </tr>
      }
    </tbody>
  </table>
</div>
