@{
  Layout = "_Layout";
}

<div class="container">
  <h1>World Data</h1>
  <form action="/table" method="post">
    <div class="form-group">
      <select name="all-filter" class="form-control">
        <option value="city">City</option>
        <option value="country">Country</option>
      </select>
    </div>
    <button type="submit" class="btn btn-primary">Filter</button>
  </form>
</div>
